body {
    font-family: times, "Times New Roman", serif;
    font-size: 1.2em;
    background-color: #171621;
    color: white;
}

#content {
    margin:0 auto;
    max-width: 700px;
}

audio {
    width: 100%;
}

a {
    color: #689EE3;
}

h1 {
    color: #FFD557;
    text-align: left;
    border-bottom: 1px solid;
    padding-bottom: 5px;
}

h2 {
    color: #FFD557;
    font-style: italic;
}

h3 {

}

p {
    text-align: justify;
    text-justify: inter-word;
}

b {
    color: #FF5C5C;
}

i {
    color: #9CFFB9;
}

img {
    max-width: 100%;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

figcaption {
    width: 100%;
    text-align: center;
}

.epigraph {
    max-width: 50%;
    float: right;
    margin: 0 0 20px 0;
}

.epigraph .quote {
    font-style: italic;
    text-align: justify;
    text-justify: inter-word;
}

.epigraph .author {
    text-align: right;
}

.aside {
    max-width: 50%;
    float: right;
    margin: 0 0 0 10px;
    padding: 10px;
    border: 1px dotted;
    font-size: 0.8em;
    text-align: justify;
    text-justify: inter-word;
}

.clearboth {
    clear: both;
}

.center {
    text-align: center;
}

.box {
    border: 1px solid;
    padding: 20px;
    text-align: justify;
    text-justify: inter-word;
}